<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <meta name="keywords" content="キーワード1, キーワード2, キーワード3" />
    <meta name="robots" content="index, follow" />

    <!-- Twitterカード設定 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="TOI TAMURAのポートフォリオ" />
    <meta
      name="twitter:description"
      content="webデザイン・フロントエンド開発ならお任せ下さい"
    />
    <meta
      name="twitter:image"
      content="https://www.toitamura-portfolio.jp/assets/my-prof.e886f7eb.jpg"
    />

    <!-- 言語設定 -->
    <meta http-equiv="Content-Language" content="ja" />
    <!--<link rel="alternate" hreflang="ja" href="https://example.com/ja/" />-->

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-XPH5Y8HZHW"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-XPH5Y8HZHW");
    </script>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
